/*************************************
BREAKOUT STYLES
*************************************/
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FFB30D;
}

.header {
    background-image: url("../img/logo2.png");
    background-color: #FFCC0d;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y: 3em;
    background-position-x: center;
    width: 100%;
    height: 18em;
    margin: -2em auto;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 1em;
    border-bottom-color: #f5bb00;
}

.other-nav {
    list-style-type: none;
    margin: 1.5em auto;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 1em;
    border: none;
    width: 12%;
    text-align: center;
}

.horizontal-nav {
    display: flex;
    list-style-type: none;
}

.wrapper {
    height: 100%;
    width: 100%;
}

#game-div {
    margin: 5em auto;
    height: 50%;
    width: 50%;
}