html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e8900c;
    height: 100%;
    width: 100%;
    padding-bottom: 4em;
    margin: 0;
}

.page-wrap {
    min-height: 100%;
    position: relative;
}

.header {
    background-image: url("../img/logo2.png");
    background-color: #ffcc0d;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 3em;
    background-position-x: center;
    width: 100%;
    height: 18em;
    margin: -2em auto;
    border-bottom-color: #faf7fc;
    border-bottom: solid;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
    
.main {
    width: 32.8%;
}

#intro {
    margin-top: 8em;
    text-align: center;
}

#nav-group-1 {
    margin-top: 8em;
}

#nav-group-2 {
    margin-top: 8em;
}

ul {
    padding: 0;
}

li {
    text-align: center; 
    list-style-type: none;
}

.home-nav {
    list-style-type: none;
    text-align: center;
    margin: 1em auto;
    font-family: 'Pangolin', cursive;
    font-size: .8em;
    border: solid;
    border-radius: 75%;
    width: 35%;
    background-color: #ffcc0d;
}

.other-nav {
    list-style-type: none;
    margin: 1.5em auto;
    font-family: 'Pangolin', cursive;
    font-size: .8em;
    border: solid;
    border-radius: 75%;
    background-color: #ffcc0d;
    width: 12%;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: #171000;
    text-align: center;
}

#hi {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: -0.5em;
    color: #171000;
}

a:hover {
    font-style: italic;
    font-weight: bold;
}

footer {
    position:absolute;
    bottom: 0;
    margin-bottom: 0em;
    height: 4em;
    width:100%;
    font-size: 1.1em;
    height: 2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

#copyright {
    margin-bottom: -1em;
}

/**********About Me Style**************/

.about-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    width: 100%;
}

.picture {
    width: 20%;
    height: 40%;
    text-align: center;
}

#my-pic {
    border-radius: 25%;
    height: 100%;
    width: 100%;
}

.about {
    width: 75%;
    height: 33%;
    text-align: center;
}

#about-para {
    /*text-align: center;*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    margin-right: 2em;
    margin-top: 0em;
    color: #171000;
}

.horizontal-nav {
    display: flex;
}

#here, #github {
    font-size: 1em;
    color: #171000;
    text-decoration: underline;
}

/**********Contact Styles**************/

.contact-wrap {
    display: flex; 
    justify-content: space-around;
}

.contact-info {
    width: 40%;
    text-align: center;
}

.contact-form {
    border: solid;
    border-color: #39ace6;
    border-radius: 15%;
    width: 25%;
    margin-left: 2em; 
    padding: 1em;
}

#contact-form {
    display: flex; 
    flex-direction: column;
}

.contact-method {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.contact-method a {
    margin-right: 3em;
}

.contact-method p {
    margin-left: 4em;
}

#email-para {
    margin-left: 4em;
}

#contact-para {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
}

input[type=text] {
    height: 2em; 
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: #faf7fc;
}

input[type=submit] {
    width: 10em;
    margin-top: 2em;
    height: 2em;
    color: #171000;
    background-color: #39ace6;
    border-radius: 10%;
    border-style: none;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

label {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

textarea {
    background-color: #faf7fc;
    height: 3em;
}

#linkedin {
    width: 1.5em;
    height: 1.5em;
}

#twitter {
    width: 1.5em;
    height: 1.5em;
}

.btn {
    font-size: 1em;
    text-decoration: underline;
}

/**********Modal Style**********/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */   
}
  
.ellaClose., .diegoClose, .lemonClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ellaClose:hover, .ellaClose:focus,
.diegoClose:hover, .diegoClose:focus,
.lemonClose:hover, .LemonClose:focus {
    text-decoration: none;
    cursor: pointer; 
}

.modal-content-ella {
    height: 65%;
    width: 25%;
    background-image: url(../img/ella1.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
}

.modal-content-diego {
    height: 65%;
    width: 25%;
    background-image: url(../img/diego.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
}

.modal-content-lemondrop {
    height: 65%;
    width: 25%;
    background-image: url(../img/lemondrop.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
}

/**********Games Styles****************/

.games-wrapper {
    width: 100%;
    display: flex;
}

.games-desc {
    width: 35%;
    text-align: center;
}

.games-links {
    width: 65%;
    background-color: yellow; 
}

#game-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 3em;
}

/**********MEDIA QUERIES***************/

@media (max-width: 1400px) {
    .header {
        background-position-y: 3em;
        background-size: 30%
    }
}
}

@media (max-width: 1300px) {
    .header {
        background-position-y: 3em;
        background-size: 38%;
    }
}

@media (max-width: 1100px) {
    .header {
        background-position-y: 3em;
        background-size: 35%
    }
}

@media (max-width: 1000px) {

    .header {
        background-position-y: 4em;
        background-size: 38%;
    }

}

@media (max-width: 850px) {
    .header {
        background-position-y: 4em;
        background-size: 45%
    }


@media (max-width: 720px) {

    footer {
        position: absolute;;
    }

    .header {
        background-position-y: 4em;
        background-size: 50%;
    }


/***********************

Website Color Schemes:
#402B10
#FFCC0d
#FFB30D
#39ACE6
#FAF7FC
#171000

************************/

/***********************

Fonts:

font-family: 'Roboto', sans-serif; GOOD
font-family: 'Inconsolata', monospace; NO
font-family: 'Architects Daughter', cursive;  NO
font-family: 'Pangolin', cursive; GOOD
font-family: 'Walter Turncoat', cursive;  NO
font-family: 'Kavivanar', cursive; NO
font-family: 'Actor', sans-serif; GOOD

**********************/
